.deck-container .theme-menu {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 10px;
  left: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
  color: #888;
}
.js .deck-container .theme-menu {
  display: block;
}
.deck-container .theme-menu h2 {
  float: left;
  font-size: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
  background: #ccc;
  color: #444;
  text-shadow: none;
  font-family: sans-serif;
  font-weight: bold;
}
.deck-container .theme-menu label {
  float: left;
  display: block;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}
.deck-container .theme-menu select {
  float: left;
  display: block;
  font-size: 14px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}

/* A class for images that are the only thing displayed on the screen.*/
img.single {
	max-height: 400px;
}

img.left-single {
	max-height: 500px;
	max-width: 50%;
	float: left;
	padding: 20px;
	margin: 20px;
}

/* This is for the collage of logos. */
table.collage img {
	max-width: 240px;
	padding: 10px;
}

table.collage {
	background-color: white;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888;
	margin-left: auto;
	margin-right: auto;
}

table.collage td {
	vertical-align: middle;
}
